<%= link_to "Home", root_path %><br /><br />

<h1><%= @article.title %></h1>
<h3>By <%= @article.author %></h3>
<p><%= @article.body %></p>

<!-- Render the comments form partial so we have a comment create form here. -->
<h3>Comments (<%= @article.comments.length %>)</h3>
<%= render "comments/form" %><br /><br />

<%= render @article.comments %>
